@use '../../../../app/styles/mixins.scss';

.productContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.formWrapper {
  display: flex;
  align-items: flex-end;
}

.unit {
  padding-bottom: 1rem;
}
