@import '../../../styles/mixins';

.base {
  font-family: var(--font-zen-maru-gothic);
  background-color: rgba(var(--color-bg-accent-darkBrown));
  border-radius: 100px;
  font-size: 24px;
  color: rgba(var(--color-bg-primary));
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  &:hover {
    opacity: 0.7;
  }
}

.main {
  min-width: 330px;
  border-radius: 8px;
  padding: 10px 30px;
}

.edit,
.delete {
  width: 100px;
}

.delete {
  background-color: rgba(var(--color-bg-accent-red));
  color: rgba(255, 255, 255);
}
