@use '../../../../app/styles/mixins.scss';

.form {
  width: 100%;
  display: inline-block;
  margin-bottom: 1rem;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  select {
    height: 4vh;
    border-radius: 10px;
  }
}

.required {
  color: rgba(var(--color-text-red));
}

.select {
  transition: all 0.2s ease;

  &:focus {
    outline: none;
    border-color: rgb(var(--color-border-focus));
    box-shadow: 0 0 0 1px rgb(var(--color-border-focus));
  }
}

.errorMessage {
  color: rgb(var(--color-text-red));
  margin-top: 0.25rem;
}
