@use '../../../../app/styles/mixins.scss' as mx;

.reviewList {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @include mx.min('md') {
    padding: 0 1rem;
  }
}

.noResults {
  text-align: center;
  padding: 2rem;
  color: rgb(var(--color-text-dark-brown));
  font-size: 1.1rem;
}

.reviewCard {
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
  @include mx.min('md') {
    padding: 1rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    @include mx.min('md') {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }

  .title {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(var(--color-text-dark-brown));
    margin: 0 auto;
  }

  .rating {
    display: inline-block;
    font-weight: 500;
    background: rgb(var(--color-bg-accent-pink));
    padding: 0.5rem;
    border-radius: 10px;
  }

  .content {
    margin: 1rem;

    .productInfo {
      color: rgb(var(--color-text-dark-brown));
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    .productName {
      font-size: clamp(10px, 2vw, 18px);
      border-bottom: 1px solid rgb(var(--color-text-dark-brown));
      display: inline-block;
      margin-bottom: 0.5rem;
      font-weight: 800;
    }

    .productPrice {
      margin-bottom: 2rem;
      font-size: clamp(10px, 2vw, 18px);
    }

    .reviewText {
      font-size: clamp(10px, 2vw, 14px);
      color: rgb(var(--color-text-dark-brown));
      line-height: 1.6;
      border: 2px dashed rgb(var(--color-text-dark-brown));
      border-radius: 10px;
      padding-left: 1rem;
      margin-bottom: 2rem;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;

    .date {
      color: rgb(var(--color-text-dark-brown));
      font-size: 0.875rem;
    }
  }
}
