@use '../../styles/mixins.scss' as mx;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(var(--color-bg-primary));
  padding: 5rem 0;
}

.divider {
  font-size: clamp(1rem, 1.2rem, 1.4rem);
  margin-bottom: 2rem;
}
