# dependencies
/node_modules
**/dist
/.pnp
.pnp.js
.yarn/install-state.gz

# local env files
/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
**/.DS_Store
*.pem
Thumbs.db

# vercel
.vercel

# google cloud key
**/petit-marche-key.json