@import '../../../styles/mixins';

.container {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  @include min('md') {
    padding: 0 2rem;
  }
  @include min('sm') {
    padding: 0 1rem;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100vw;
}

.logo {
  object-fit: contain;
  max-height: 100%;
  @include min('md') {
    max-height: 70%;
  }
  @include min('sm') {
    max-height: 60%;
  }
}

.nav {
  color: rgba(var(--color-bg-primary));
  display: flex;
  align-items: flex-end;
}

.link {
  display: inline-block;
  margin-left: 1rem;
  white-space: nowrap;
  @include min('sm') {
    font-size: 14px;
  }
}

.link:first-child {
  margin-left: 0;
}

.link:hover {
  opacity: 0.7;
}
