.container {
  width: 80%;
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
}

.textContainer {
  text-align: left;
  font-weight: bold;
  ::after {
    content: '*';
    color: red;
  }
}

.starInput {
  display: none;
}

.starIcon {
  cursor: pointer;
  margin-bottom: 1rem;
}
