@import '../../../styles/mixins';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  width: 100%;
  min-height: 250px;
  border: 5px dotted rgb(209, 199, 134);
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  @include min('lg') {
    max-width: 768px;
  }
  @include min('md') {
    flex-direction: column;
    max-width: 400px;
  }
  @include min('sm') {
    max-width: 320px;
  }
}

.imageContainer {
  flex: 0 0 auto;
  width: 40%;
  max-width: 400px;
  @include min('md') {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.logo {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
}

.textContainer {
  flex: 1 1 auto;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include min('md') {
    width: 100%;
    padding-left: 0;
  }
}

.topText {
  font-size: clamp(20px, 4vw, 30px);
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.text {
  font-size: clamp(14px, 2vw, 15px);
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
