.container {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.nav {
  color: rgba(var(--color-bg-primary));
  display: flex;
  align-items: flex-end;
}
.link {
  margin-left: 1rem;
}
.link:first-child {
  margin-left: 0;
}
.link:hover {
  opacity: 0.7;
}
