@import '../../../styles/mixins.scss';

.header {
  width: 100vw;
  height: 80px;
  background-color: rgba(var(--color-bg-accent-darkBrown));
}

.container {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  @include min('md') {
    padding: 0 2rem;
  }
  @include min('sm') {
    padding: 0 1rem;
  }
}

.logoWrapper {
  flex: 1 1 auto;
  width: 100%;
  max-width: 200px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100vw;

  @include min('md') {
    max-width: 150px;
  }
  @include min('sm') {
    max-width: 110px;
  }
}

.logo {
  flex: 1 1 auto;
  object-fit: contain;
  max-width: 100%;
  height: auto;
  max-height: 80px;
  transition: 1s all;
  &:hover {
    transform: scale(0.9, 0.9);
    transition: 1s all;
  }
  @include min('md') {
    max-height: 70%;
    padding: 0;
    &:hover {
      transform: scale(1.2, 1.2);
      transition: 1s all;
    }
  }
  @include min('sm') {
    max-height: 60%;
  }
}

.nav {
  color: rgba(var(--color-bg-primary));
  display: flex;
  align-items: flex-end;
  flex: 1 1 auto;
  width: 100%;
  max-width: 150px;
}

.link {
  display: flex;
  justify-content: right;
  margin-left: 1rem;
  white-space: nowrap;
  flex: 1 1 auto;
  object-fit: contain;
  height: auto;
  max-height: 20px;
  @include min('sm') {
    font-size: 14px;
  }
}

.link:first-child {
  margin-left: 0;
}

.link:hover {
  opacity: 0.7;
}
