@import '../../../styles/mixins';

.menu {
  display: flex;
  justify-content: space-between;
  align-items: end;

  @include min('sm') {
    flex-direction: column;
    align-items: flex-start;
  }
}

.menuWrapper {
  @include min('sm') {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
}

.link {
  padding-right: 2em;
  @include min('md') {
    padding-right: 1em;
  }
  @include min('sm') {
    padding: 0;
  }
}

.text {
  font-size: 1em;

  @include min('md') {
    font-size: clamp(10px, 0.8em, 11px);
  }
  @include min('sm') {
    font-size: clamp(10px, 0.8em, 11px);
  }
}

.copyRight {
  font-size: 12px;

  @include min('md') {
    font-size: clamp(10px, 0.8em, 11px);
  }
  @include min('sm') {
    font-size: clamp(10px, 0.8em, 11px);
  }
}
